.button-container{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
   
}

button{
    color:white;
    padding: 10px 30px;
    font-size:30px;
    background-color: rgb(0,0,0,48%);
    border: 1px solid rgb(255, 255, 255);
    margin:10px;
    cursor:pointer;
    height:60px;
}

button:hover{
    border: 1px solid rgb(114, 207, 218);
 
   
}