
@keyframes button-animate {
    from {
        margin:10px;
    }
    to{
        margin:40px;
    }
}

.button1 {
    background-color: rgb(48, 46, 46);
    width:100px;
    padding:10px;
    color:white;
    font-size: large;
    border: 1px solid rgba(255, 255, 255, 0.523);
    margin:10px;
    transition: background-color 1s ease-in-out;
    animation:  button-animate 1s ease infinite;
}

.button1.active {
    background-color: green;
}

body{
    background-color:rgb(97, 75, 79);
}
